body{
    margin: 0;
    padding: 0;


    background: rgb(238,182,174);
    background: radial-gradient(circle, rgba(238,182,174,1) 0%, rgba(177,174,238,1) 68%, rgba(148,163,233,1) 100%);
    font-family: 'Courier New', Courier, monospace;
}




.title{
    display: flex;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: salmon;
}